<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
      integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
      crossorigin="anonymous"
    ></script>
    <script>
      window.setInterval("refresh()", 10000);
      // Call a function every 10000 milliseconds
      // (OR 10 seconds).

      // Refresh or reload page.
      function refresh() {
        window.location.reload();
      }
    </script>
    <script type="text/javascript" charset="utf-8">
      //var path = $.post(Flask.url_for('static', filename='audio_file.mp3'));
      //var audio = new Audio(path);
      function turnoff(id) {
        //$("#ultrapar").addClass("card text-white bg-danger mb-4 column h-100")
        console.log(id)
        $("#"+id).parent().parent().removeClass().addClass("card text-white bg-primary mb-4 column h-100")
      }
      namespace = "/test";
      // Client Side Javascript to receive numbers.
      $(document).ready(function () {
        // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
        var socket = io.connect(
          "http://" + document.domain + ":" + location.port + "/test"
        );
        // this is a callback that triggers when the "my response" event is emitted by the server.
        socket.on("send ultra", function (msg) {
          $("#ultra").html("<p>Distance: " + msg.data + "</p>");
          $("#ultrapar").addClass("card text-white bg-danger mb-4 column h-100")
        });

        socket.on("send force", function (msg) {
          $("#force").html("<p>Force: " + msg.data + "</p>");
          $("#forcepar").addClass("card text-white bg-danger mb-4 column h-100")
        });

        socket.on("send gas", function (msg) {
          $("#gas").html("<p>Parts per million (Gas): " + msg.data + "</p>");
          $("#gaspar").addClass("card text-white bg-danger mb-4 column h-100")
        });

        socket.on("send motion", function (msg) {
          $("#motion").html("<p>PIR sensor value: " + msg.data + "</p>");
          $("#motionpar").addClass("card text-white bg-danger mb-4 column h-100")
        });

        socket.on("send one-hot", function (msg) {
          console.log("got something: ", msg.data[0]);
          $("#dash").append("<p>Received onehot: " + msg.data + "</p>");
        });
        //example of triggering an event on click of a form submit button
      });
    </script>
  </head>
  <body>
    <center>
      <div id="dash">

      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 d-flex align-items-stretch" >
            <div
              class="card text-white bg-primary mb-4 column h-100"
              style="max-width: 18rem" id="ultrapar"
            >
              <div class="card-header">Ultrasonic Sensor</div>
              <div class="card-body">
                <h5 class="card-title">Live data from sensor</h5>
                <p class="card-text" id="ultra">Distance: Data yet to arrive</p>
                <button type="button" id="ultra" onclick="turnoff(this.id)" class="btn btn-warning" style="margin-top: 50px;">TurnOff</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-stretch">
            <div
              class="card text-white bg-primary mb-4 column h-100"
              style="max-width: 18rem" id="forcepar"
            >
              <div class="card-header">Force Sensor</div>
              <div class="card-body">
                <h5 class="card-title">Live data from sensor</h5>
                <p class="card-text" id="force">Force: Data yet to arrive</p>
                <button type="button" id="force" onclick="turnoff(this.id)" class="btn btn-warning" style="margin-top: 50px;">TurnOff</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div
              class="card text-white bg-primary mb-4 column h-100"
              style="max-width: 18rem" id="gaspar"
            >
              <div class="card-header">Gas Sensor</div>
              <div class="card-body">
                <h5 class="card-title">Live data from sensor</h5>
                <p class="card-text" id="gas">
                  Parts per million (Gas): Data yet to arrive
                </p>
                <button type="button" id="gas" onclick="turnoff(this.id)" class="btn btn-warning" style="margin-top: 50px;">TurnOff</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-stretch">
            <div
              class="card text-white bg-primary mb-4 column h-100"
              style="max-width: 18rem" id="motionpar"
            >
              <div class="card-header">Motion Sensor</div>
              <div class="card-body">
                <h5 class="card-title">Live data from sensor</h5>
                <p class="card-text" id="motion">
                  PIR sensor value: Data yet to arrive
                </p>
                <button type="button" id="motion" onclick="turnoff(this.id)" class="btn btn-warning" style="margin-top: 50px;">TurnOff</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
